.ground {
  background-image: url('../img/117.jpg');
  background-repeat: repeat;
}
.wrapper {
  box-shadow: inset 3px 4px 5px #cea76a;
  box-shadow: outset 3px 4px 5px #000;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  border: solid 2px #cea76a;
  margin-bottom: 110px;
  border-radius: 10px;
  overflow: auto;
  padding-bottom: 10px;
}
.headLine {
  text-align: center;
  text-shadow: 1px 2px 3px #666;
  padding-top: 10px;
  margin-left: -47px;
  margin-bottom: 15px;
  font-family: Verdana;
  font-size: 3em;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: -0.11em;
  text-shadow: -0.05em 0px 0.07em #000000;
}
span:hover {
  position: relative;
  top: -4px;
  cursor: default;
}
.headLine div {
  display: inline-block;
  color: #F00000;
}
.headLine__icon {
  margin-bottom: -20px;
  margin-left: 20px;
}
.headLine__icon:hover {
  transform: rotate(360deg);
  -webkit-transition: all 1s ease; /* Firefox */
  -moz-transition: all 1s ease; /* WebKit */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease; /* Standard */
}
.blank {
  width: 100%;
  min-height: 15px;
}
.variant {
  margin-left: 60px;
  padding-top: 5px;
  padding-bottom: 4px;
  color: #436ca2;
  font-size: 19px;
  letter-spacing: 0em; 
}

.question {
  clear: both;
  margin-left: 70px;
  margin-top: 40px;
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.2em;
  color: #004080;
  letter-spacing: 0;
  text-shadow: -0.05em 0px 0.07em #000000;
}
/*//------------------inputs------------*/
.input:checked + label, .rightInput:checked + label, .wrongInput:checked + label {
  padding-left: 10px;
  color: #fff;
}
.input:checked + label::before, .rightInput:checked + label::before, .wrongInput:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #808080;
}
label:before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.input, .rightInput, .wrongInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 0px;
  line-height: 29px;
  cursor: pointer;
}
label:before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #808080;
  border-radius: 4px;
  z-index: -1;
}
.input + label:before, .rightInput + label:before, .wrongInput + label:before {
  background-color: #fff;
  border-radius: 18px;
  -webkit-transition: all 900ms ease; 
  -moz-transition: all 900ms ease; 
  -o-transition: all 900ms ease; 
  transition: all 900ms ease; 
}
.input:checked + label, .rightInput:checked + label, .wrongInput:checked + label {
  padding-left: 10px;
  color: #fff;
}
.input:checked + label:before, .rightInput:checked + label:before, .wrongInput:checked + label:before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #808080;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease; 
  -o-transition: all 600ms ease; 
  transition: all 600ms ease; 
}
label:before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/*//----------------------*/
.rightInput:checked + label::before {
  background: #e0e0e0;
}
.wrongInput:checked + label:before {
  background: #e0e0e0;
}
.rightInput:checked + label {
  color: #008000;
}
.wrongInput:checked + label {
  color: #d94600;
}
/*//--------------------------------------------------------------------*/
.ok {
 text-decoration:none; text-align:center; 
 padding:9px 21px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font: 18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#edfafa; 
 max-height: 20px;
 max-width: 40px;
 margin: 0 auto;
 margin-top: 50px;
 cursor: pointer;
 background-color:#5fbf91; 
 background-image: -moz-linear-gradient(top, #5fbf91 0%, #268bad 100%); 
 background-image: -webkit-linear-gradient(top, #5fbf91 0%, #268bad 100%); 
 background-image: -o-linear-gradient(top, #5fbf91 0%, #268bad 100%); 
 background-image: -ms-linear-gradient(top, #5fbf91 0% ,#268bad 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268bad', endColorstr='#268bad',GradientType=0 ); 
 background-image: linear-gradient(top, #5fbf91 0% ,#268bad 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 text-shadow: 3px 0px 2px #4a4040; 
 filter: dropshadow(color=#4a4040, offx=3, offy=0); 
}
.ok:hover {
  transform: scale(1.02);
}
.modal__wrapper {
  /*background: blue;*/
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding-top: 1700px;
  top: -90%;
  left: 50%;
  margin: 50% 0 0 -50%; 
}
.modal__border {
  background: #5bbb92;
  position: relative;
  height: 240px;
  width: 670px;
  top: 50%;
  bottom: 5%;
  border-radius: 20px; 
  box-shadow: 0px 0px 18px 0px #800000 inset;  
}
.modal {
  position: relative;
  background: #d7d7d7;
  height: 170px;
  width: 650px;
  top: 10px;
  bottom: 0;
  padding-top: 50px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #004040;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  margin: 0 auto;
}
.clear {
  background: #789a74;
  padding: 5px;
  width: 40px;
  margin-left: 60px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.clear:hover {
  background: #9eb99b;
  box-shadow: 0px 0px 8px 0px #698a65 inset
}
.takeAgain, .result, .option_1, .option_2  {
  position: relative;
  margin: 0 auto;
  background: #d7d7d7;
  max-width: 200px;
  max-height: 20px;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #004040;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
  box-shadow: 0px 0px 37px -4px #557175 inset;
}
.takeAgain, .result {
  bottom: 80px;
}
.takeAgain:hover, .result:hover {
  background: #eeeeee;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
  -webkit-transition: all 1s ease; /* Firefox */
  -moz-transition: all 1s ease; /* WebKit */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease; /* Standard */
}
.takeAgain:active, .result:active {
  background: #c7c7c7;
  -webkit-transition: all 200ms ease; /* Firefox */
  -moz-transition: all 200ms ease; /* WebKit */
  -o-transition: all 200ms ease; /* Opera */
  transition: all 200ms ease; /* Standard */
}
.option_1, .option_2 {
  position: absolute;
  top: 50px;
}
.option_1 {
  left: 20px;
  padding-bottom: 12px;
}
.option_2 {
  right: 20px;
  padding-bottom: 12px;
}
.option_1:hover {
  text-shadow: -3px 3px 2px rgba(150, 150, 150, 1);
}
.option_2:hover {
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.option_1:hover, .option_2:hover {
  background: #eeeeee;
  transform: scale(1.1);
  -webkit-transition: all 1s ease; /* Firefox */
  -moz-transition: all 1s ease; /* WebKit */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease; /* Standard */
}

/*//----------------------------------*/