<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Test</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
  <script src="js/tmpl.js"></script>
</head>
<body> 
	<script type="text/template" id="test">
	 <div class="wrapper"> 
	   <p><%= quest1 %></p>
     <p><%= quest2 %></p>
     <p><%= quest3 %></p>
     <p><%= quest4 %></p>
     <p><%= quest5 %></p>
     <p><%= quest6 %></p>
     <p><%= quest7 %></p>
     <p><%= quest8 %></p>
	 </div>
	</script>
  <script src="js/script.js"></script>
</body>
</html>